<dialog class="modal" id="error_modal">
    <div class="modal-box">
        <div role="alert" class="alert alert-error alert-soft">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="crossInCircle" />
            </svg>
            <span>{{errorMessage}}</span>
        </div>
    </div>
    <form class="modal-backdrop" method="dialog">
        <button>close</button>
    </form>
</dialog>
