<div class="flex">
    <div>
        <img alt="img" class="size-15 rounded-box" src="{{character.details.image}}" />
    </div>
    <div class="flex flex-col">
        <div>
            <div>{{ character.details.name }}</div>
        </div>
        <p class="list-col-wrap text-xs">
            {{ character.details.ability }}
        </p>
    </div>
    <div class="grow"></div>
    <div class="flex flex-row items-center">
        <button class="btn btn-square btn-ghost tooltip">
            <div class="tooltip-content">
                @if (isCustomCharacter) {
                    <div>Edit</div>
                } @else {
                    <div class="w-30">Convert to Bootleg Character</div>
                }
            </div>
            <svg fill="currentColor" height="24px" viewBox="0 -960 960 960" width="24px" xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="isCustomCharacter ? icon.editCustomCharacter : icon.convertToCustomCharacter" />
            </svg>
        </button>
        <button (click)="removeCharacterFromScript()"
                [attr.data-tip]="isCustomCharacter ? 'Delete' : ''"
                class="btn btn-square btn-ghost tooltip tooltip-error">
            <svg fill="currentColor" height="24px" viewBox="0 -960 960 960" width="24px" xmlns="http://www.w3.org/2000/svg">
                <path [attr.d]="isCustomCharacter ? icon.trash : icon.remove" />
            </svg>
        </button>
    </div>
</div>
